body{
    background-color: rgb(3, 51, 57);
    margin: 0;
}

.title {
    color: black;
    background-color: rgb(57, 123, 123);
    padding: 30px;
    text-align: center;
    
}

.loginbox {
    width: 400px;
    margin: 30px auto;
    background-color: rgb(57, 123, 123);
    box-shadow: 0 0 1px 2px rgb(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px;
}

.logintext {
    text-align: center;
    margin-top: 0;
}

.text {
    background-color: rgb(4, 38, 38);
    color: rgb(129, 125, 125);
    position: relative;
    display: inline;
    width: 60%;
    outline: none;
    margin: 0 80px 0 80px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    transition: 0.1s;
}

.text:hover {
    background-color: rgb(25, 67, 67);
}

.password {
    background-color: rgb(4, 38, 38);
    color: rgb(129, 125, 125);
    position: relative;
    display: inline;
    width: 60%;
    outline: none;
    margin: 10px 80px 0 80px;
    border-radius: 5px;
    outline: none;
    border: 0;
    padding: 10px;
    transition: 0.1s
}

.password:hover {
    background-color: rgb(25, 67, 67);
}

